.H1 {
  font-size: 4rem;
  margin: 2rem 0;
}

.H2 {
  margin: 4rem 0;
}

.H3 {
  margin: 3rem;
  font-size: 1.7rem;
  text-decoration: underline;
}

.Li {
  list-style: none;
}

.link-align-center {
  text-align: center;
  display: block;
}

.text {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 1rem 0;
}
